
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Message</title>
</head>
<body dir="rtl">
    <div > 
        <h1>پيام سيستم</h1>
        <hr />
        <h2>@ViewBag.Message</h2>
    </div>
</body>
</html>
